*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

header{
    height: 65vh;
    background-color: rgb(37, 142, 8);
    clip-path: polygon(0 0 , 100% 0 , 100% 50vh , 80% 60vh , 60% 50vh , 40% 60vh , 20% 50vh , 0 60vh);
}

.main_box{
    position: absolute;
    top: 25%;
    left: 55%;
    text-align: center;
    transform: translate(-50%,-50%);
}

h1{
    font-size: 3.85em;
    margin: 0.25em;
}

p{
    font-size: 2em;
}